.footer{
    margin-top: 90px;
    padding-top: 30px;
    padding-bottom: 10px;
    border-top: 1px solid #eef2f2;
}
.footer p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15.6px;
    color: rgb(171, 171, 171);
    text-align: center;
}
.cookies-description{
    margin-bottom: 0px;
}
.copyright-docplanner{
    margin-top: 5px;
    margin-bottom: 0
}